<meta name="viewport" content="width=device-width, initial-scale=1">

{{#if meta.description }}
<meta name="description" content="{{meta.description}}">
<meta property="og:description" content="{{meta.description}}">
<meta name="twitter:description" content="{{meta.description}}">
{{ else }}
<meta name="description" content="Poll workers are everyday American heroes. ðŸ’ª They make elections run smoothly and ensure that every eligible voter is able to cast their ballot safely. ðŸ—³ï¸ Sign up to #PowerThePolls and staff your local polling place.">
<meta property="og:description" content="Poll workers are everyday American heroes. ðŸ’ª They make elections run smoothly and ensure that every eligible voter is able to cast their ballot safely. ðŸ—³ï¸ Sign up to #PowerThePolls and staff your local polling place.">
<meta name="twitter:description" content="Poll workers are everyday American heroes. ðŸ’ª They make elections run smoothly and ensure that every eligible voter is able to cast their ballot safely. ðŸ—³ï¸ Sign up to #PowerThePolls and staff your local polling place.">
{{/if}}

{{#if meta.image }}
<meta property="og:image" content="https://{{ settings.site_url }}{{ meta.image }}">
<meta name="twitter:image" content="https://{{ settings.site_url }}{{ meta.image }}">
<meta name="twitter:card" content="summary_large_image">

  {{#if meta.image-alt }}
  <meta name="twitter:image:alt" content="{{ meta.image-alt }}">
  {{/if}}

{{ else }}
<meta property="og:image" content="https://{{ settings.site_url }}/images/share-preview.png">
<meta name="twitter:image" content="https://{{ settings.site_url }}/images/share-preview.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Power the Polls logo.">
{{/if}}

<meta property="og:title" content="{{#if title }}{{ title }}{{else}}Power the Polls{{/if}}">
<meta name="twitter:title" content="{{#if title }}{{ title }}{{else}}Power the Polls{{/if}}">
<title>{{#if title }}{{ title }}{{else}}Power the Polls{{/if}}</title>

<meta property="og:type" content="article">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">
